input[type="text"]
{
	display: block;
	width: 634px;
	padding-bottom: 2px;
	padding-top: 3px;
	font-size: 13px;
	height: 38px;
	border-style: solid;
	border-color: #D9D9D9;
	border-width: 1px;
}

input[type="text"]:hover
{
	border-color: #8D8D8D;
}

input[type="text"]:focus
{
	border-color: #4D90FE
}

button[type="button"]
{
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	border: 1px solid;
	border-radius: 2px;
	border-color: transparent;
	text-align: center;
	color: #757575;
	background-color: #F2F2F2;
	padding-right: 16px;
	padding-left: 16px;
	margin: 11px 4px 11px 4px;
	height: 36px;
}

button[type="button"]:hover
{
	color: #000000;
}

button[type="button"]:focus
{
	border-color: #4D90FE;
}

.logo
{
	height: 92px;
	width: 272px;
}

.logo_div
{
	height: 233px;
	width: 1263px;
	margin-top: 89px;
}