input[type="text"]
{
	/* styles for search bar */
	display: block;
	width: 580px;
	padding-bottom: 2px;
	padding-top: 3px;
	font-size: 13px;
	height: 31px;
	border-style: solid;
	border-color: #D9D9D9;
	border-width: 1px;
	/* centers the search bar */
	margin: auto;
}

input[type="text"]:hover
{
	border-color: #8D8D8D;
}

input[type="text"]:focus
{
	border-color: #4D90FE
}

button[type="button"]
{
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	border: 1px solid;
	border-radius: 2px;
	border-color: transparent;
	text-align: center;
	color: #757575;
	background-color: #F2F2F2;
	padding-right: 16px;
	padding-left: 16px;
	margin: 30px 4px 30px 4px;
	height: 36px;
	/* centers the two buttons when used with text-align: center on the parent div */
	display: inline-block;
}

button[type="button"]:hover
{
	color: #000000;
	background-color: #F7F7F7;
	border-color: #F2F2F2;
}

button[type="button"]:focus
{
	border-color: #4D90FE;
}

.logo
{
	height: 92px;
	width: 272px;
	display: block;
	margin: auto;
}

.logo_div
{
	margin-top: 150px;
	margin-bottom: 30px;
}

.buttons_center
{
	text-align: center;
}